.padre {
    width: 400px;
    height: 400px;
    background-color: rgb(47, 47, 172);
}
.hijo {
    width: 50%;
    height: 50%;
    background-color: rgb(168, 162, 153);
    /*transition: transform 1s ease-in;*/
    animation: traslacion 3s infinite forwards alternate;
}
.padre:hover .hijo {
    /*transform: translatex(100%);
    background-color: aquamarine;*/
    animation-play-state: paused;
}
@keyframes traslacion {
    0% {
        background-color: rgb(204, 121, 121);
        transform: translateX(0%);
    }
    25% {
        background-color: rgb(243, 9, 9);
        transform: translateX(0%) translateX(100%);
    }
    50% {
        background-color: black;
        transform: translateX(100%) translateY(100%);
    }
    75% {
        background-color: white;
        transform: translateX(0%) translateY(100%);
    }
    100% {
        background-color: rgb(255, 115, 0);
        transform: translateX(0%) translateY(0%);

    }
}